<!DOCTYPE html>
%html
  %head
    %title
      Listings
    = stylesheet_link_tag("application", media: "all", "data-turbolinks-track" => true)
    = javascript_include_tag("application", "data-turbolinks-track" => true)
    = csrf_meta_tags
  %body
    .header
      = render 'partials/auth_links'

    - if notice.present?
      %p{ class: 'blue message dismissible' }
        =notice
    - if alert.present? 
      %p{ class: 'alert message' }
        =alert

    %div{ class: 'one whole padded' }
      = yield
